.container-fluid {
  margin: 0;
  padding: 0;
}

header{
  background-color: #b0ffc6;
  border: solid black 1px;
  border-radius: 2px;
  text-align: center;
}

footer{
 background-color: #8ceda7;
 bottom: 0;
 position: fixed;
 width: 100%;
 text-align: center;
}
body{
  background-color: #fffffc;
}
img{
  height: 200px;
}

p {
  color: black;
}

.nav-link {
  font-weight: bold;
}

#categories {
  border-right: 2px solid #8ceda7;
  height: 100%;
}

.sidebar {
  text-align: center;
  margin: 0;
}

.sidebar > img {
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
}

.sidebar > span {
  font-size: 0.8em;
}

.sidebar > ul {
  list-style: none;
  padding-top: 2em;
  padding-left: 0;
}
a{
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
}

.category-link {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  margin-bottom: 0.25em;
}

.category-link:hover {
  cursor: pointer;
}

.category-link:hover {
  background-color: #c4ffd5;
}

#tilauslomake > label {
  margin-bottom: 5px;
}

.main-container {
  padding-top: 2em;
  padding-left: 2em;
}