.container-fluid {
  margin: 0;
  padding: 0;
}

header{
  background-color: #b0ffc6;
  border: solid black 1px;
  border-radius: 2px;
  text-align: center;
}

footer{
 background-color: #8ceda7bd;
 bottom: 0;
 position: fixed;
 width: 100%;
 text-align: center;
}
body{
  background-color: #fffffc;
}
img{
  height: 200px;
}

p {
  color: black;
}

#categories {
  background-color: #b0ffc6;
  height: 100vh;
}

.sidebar {
  text-align: center;
  margin: 0;
}

.sidebar > img {
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
}

.sidebar > span {
  font-size: 0.8em;
}

.sidebar > ul {
  list-style: none;
  padding-top: 2em;
  padding-left: 0;
}
a{
  text-decoration: none;
  color: black;
}

#tilauslomake > label {
  margin-bottom: 5px;
}
